{% extends 'paginas/modelo.html' %}

{% load static %}


{% block conteudo %}

<div class="container">
    <hr>
    <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
        <div class="mb-3 mb-md-0 d-flex text-nowrap">
        <a href="{% url 'cadastrar-fonte' %}" class="btn btn-primary btn-md rounded-2" title="Cadastrar nova fonte">Adicionar Fonte</a>
        </div>
        <h3>Fontes Cadastradas</h3>
    </div>  
    
</div>
<div class = 'container '>
    <hr>

    <table border=1 class="table table-striped table-hover table-bordered table-sm">
        <tr align="center">
           
            <th>Fonte</th>
            <th>Descrição da Fonte</th>
            <th>Opções</th>
        </tr>

        {% for Fonte in object_list %}
        <tr>
            <!-- CABEÇALHO DAS COLUNAS -->

            
            <td align="center">{{ Fonte.fonte }}</td>
            <td align="center">{{ Fonte.desc_fonte }}</td>

            <!-- Botões -->
            <td align="center">
                <!-- quando coloco esse .pk eu chamo a primary key da classe (Processos) -->
                <a href="{% url 'editar-fonte' Fonte.pk %}" class="btn btn-warning btn-sm" title="Editar">
                    <i class="bi bi-pencil-square" aria-hidden="true"></i>
                </a>
                <a href="{% url 'excluir-fonte' Fonte.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                    <i class="bi bi-trash3" aria-hidden="true"></i>
                </a>


            </td>
            
        </tr>

        {% empty %}
        <tr class="text-center">
            <td colspan="5" class="text-dark bg-light"> Nenhum campo registrado.</td>

        </tr>

        {% endfor %}
    </table>
</div>
{% endblock %}