{% extends 'paginas/modelo.html' %}

{% load static %}


{% block conteudo %}

<div class="container p-4">
    <div><p></p></div>
    <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between bor">
        <div class="mb-3 mb-md-0 d-flex text-nowrap ">
            
        <a href="{% url 'cadastrar-processo' %}" class="btn btn-primary btn-md rounded-2" title="Cadastrar novo processo">Adicionar Processo</a>
        </div>
        <h3>Processos Cadastrados</h3>
        
        
    </div>  
    
</div>
<div class = 'container'>
    

    <table border=1 class="table table-striped table-hover table-bordered table-sm table-responsive">
        <tr align="center">
            
            <th>BBM</th>
            <th>Processo</th>
            <th>Fonte</th>
            <th>PAOE</th>
            <th>Descrição</th>
            <th>Valor Solicitado</th>
            <th>Opções</th>
        </tr>

        {% for Processos in object_list %}
        <tr>
            <!-- CABEÇALHO DAS COLUNAS -->
           
            <td align="center">{{ Processos.bbm2.sigla_unidade }}</td>
            <td align="center">{{ Processos.processo }}</td>
            <td align="center">{{ Processos.fonte2.fonte }}</td>
            <td align="center">{{ Processos.paoe2.paoe }} </td>
            <td align="center">{{ Processos.descricao }} </td>
            <td align="center">{{ Processos.valor_solicitado }} </td>
            
            


            <!-- Botões -->
            <td align="center">
                <!-- quando coloco esse .pk eu chamo a primary key da classe (Processos) -->
                <a href="{% url 'editar-processo' Processos.pk %}" class="btn btn-warning btn-sm" title="Editar">
                    <i class="bi bi-pencil-square" aria-hidden="true"></i>
                </a>
                <a href="{% url 'excluir-processo' Processos.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                    <i class="bi bi-trash3" aria-hidden="true"></i>
                </a>
                <a href="" class="btn btn-primary btn-sm" title="Visualizar">
                    <i class="bi bi-eye-fill"></i>
                </a>

            </td>
            
        </tr>

        {% empty %}
        <tr class="text-center">
            <td colspan="5" class="text-dark bg-light"> Nenhum campo registrado.</td>

        </tr>

        {% endfor %}
    </table>
</div>
{% endblock %}

<script>

    $("seletor").acao();


</script>