{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<div class="container">
    <div class="container border rounded jumbotron mx-auto m-3 bg-light text-dark">
        <h3 class="display-4 text-center">Cadastros</h3>
        <p class="lead">Aqui anexaremos todas as páginas de cadastros existentes no site, * para diminuir a quantidade de itens na barra de navegação.
        </p>
        <hr class="my-4">
     
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'listar-processo' %}" role="button">Processos</a>

        <!-- Colocar uma condição para visualizar PAOE e FONTE Apenas Administradores ou usuários pertencentes ao DEPLAN -->
        <a class="btn btn-primary btn-lg" href="{% url 'listar-fonte' %}" role="button">Fonte</a>
        <a class="btn btn-primary btn-lg" href="{% url 'listar-paoe' %}" role="button">PAOE</a>
        <!--------------------->
        
        <a class="btn btn-primary btn-lg" href="{% url 'listar-bbm' %}" role="button">BBM</a>
        </p>
        
    </div>
</div>
{% endblock %}