{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<!-- Página inicial da aplicação -->

{% if request.user.is_authenticated %}
<div class="container border rounded jumbotron mx-auto m-3 bg-light text-dark">
    <h3 class="display-5 text-center">Bem Vindo!</h3>
    <p class="lead">Somos uma equipe que tem por finalidade identificar, alinhar e priorizar projetos do CBMBA em conformidade com a estratégia traçada pelo Alto Comando da Corporação.
    </p>
    <hr class="my-4">
    
    <p class="lead">
    </p>
</div>

<!-- se não estiver logado / página inicial para visitante -->
{% else %}
<div class="container border rounded jumbotron mx-auto m-3 bg-light text-dark">
    <h3 class="display-5">Bem Vindo!</h3>
    <p class="lead">Somos uma equipe que tem por finalidade identificar, alinhar e priorizar projetos do CBMBA em conformidade com a estratégia traçada pelo Alto Comando da Corporação.
    </p>
    <hr class="my-4">
    
    <p class="lead">
    
    </p>
</div>

{% endif %}
{% endblock %}











