{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<div class="container">
    <div class="container border rounded jumbotron mx-auto m-3 bg-light text-dark">
        <h4 class="display-5 text-center">Paineis Orçamentários</h4>
        <p class="lead">Aqui anexaremos todas as páginas de cadastros existentes no site, * para diminuir a quantidade de itens na barra de navegação.
        </p>
        <hr class="my-4">
     
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="" role="button">Painel1</a>

        <!-- Colocar uma condição para visualizar PAOE e FONTE Apenas Administradores ou usuários pertencentes ao DEPLAN -->
        <a class="btn btn-primary btn-lg" href="" role="button">Painel2</a>
        <a class="btn btn-primary btn-lg" href="" role="button">Painel3</a>
        <!--------------------->
        
        <a class="btn btn-primary btn-lg" href="" role="button">Painel4</a>
        </p>
        
    </div>
        
    </div>
</div>
{% endblock %}