{% extends 'paginas/modelo.html' %}



{% load static %}



{% load crispy_forms_tags %}

<!-- Modelo utilizado para a página de login -->

{% block navbar %}
<nav class="navbar sticky-top navbar-dark bg-dark text-white justify-content-center   ">
    <a class="navbar-brand border rounded border-secondary p-2 mb-1 mx-auto" href="{% url 'home' %}">
        <i class="bi bi-activity"></i> DEPARTAMENTO DE PLANEJAMENTO <i class="bi bi-activity"></i></a>
  </nav>
{% endblock %}


{% block conteudo %}

<div class="d-flex justify-content-sm-center mb-3 p-4 l-2">
    {% if request.user.is_authenticated %}
    <div class="col-md-8 mx-auto">
        
        <h3>Ação não permitida!</h3>
        <hr>
        <p class="lead"><strong>Houve algum problema ao processar a ação desejada ou você não tem permissão para isso.</strong></p>
            
    </div>
    {% else %}

    <div class='col-md-4 mx-auto '> 

        <div class="text-center">
            <a href="{% url 'home' %}">
            <img class="mb-2 rounded mx-auto" src="{% static 'img/CBMBA-LOGO.png' %}" alt="" width="100" >
         </a>
        </div>
        
        <div class="text-center p-2">
            <h3 class="">Entre na sua conta!</h3>
                <!-- Form de confirmação de exclusão -->
        </div>
        <form action="" method="POST">
          
            <!-- chamada do django para verificação segura -->
            {% csrf_token %}

            {{ form|crispy }}

            
            
            <br><a href="{% url 'home' %}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary align-top ">Entrar</button>
           



        </form>
    </div>
        {% endif %}
</div>

{% endblock %}

{% block footer %}
<footer>
    <p class="mt-5 mb-3 text-muted text-center p-2">Departamento de Planejamento<br>Corpo de Bombeiros Militares da BAHIA<br>© 2016–2023</p>
</footer>
{% endblock %}

